<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/carrello.css">

<body>
   
        <div class="container" style="float:left;background-color: pink;  margin-top:30px;width: 70%">
            <div style="float:left; margin-left: 5px; height: 100%; ">
                <div style="float:left;">
                    <img src="/images/immagini_prodotto1/1.jpg" style="width: 80px; height: 50px; float:left;">
                    <p style="
                    float:left;
                    min-width:250px;
                    max-width: 70%;
                    max-height: 50px;
                    white-space: normal;
                    overflow:hidden !important;
                    text-overflow: ellipsis;
                    margin: 0;">
                        NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO
                        NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL
                        PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO
                        NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL PRODOTTO NOME DEL
                        PRODOTTONOME DEL PRODOTTO </p>
                </div>
                <div >
                    <p style="float:left;">
                        Qt.
                        <input  style="width: 40px;" name="Quantità" type="text">
                        <input class="button red" name="Aggiorna Quantità" type="submit" value="Aggiorna Quantità">
                        <input class="button red" name="Rimuovi" type="submit" value="Rimuovi">
                    </p>
                    <p style="float:right;">
                           Costo
                        </p>
                </div>
            </div>




        </div>

    




</body>

</html>