<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/carrello.css">

<head>



</head>

<body>

    <div class="cart-container">
        <!-- Contenitore di un prodotto -->
        <div class="item-container">
            <div class="item-image"> <img src="\images\immagini_prodotto1\2.jpg" alt="" class="item-image-inner"> </div>
            <div class="item-name">
                <div class="item-name-text fade-effect" style="width: 100%">
                    <p>Nome del prodotto con effetto fade out se supera le due linee</p>
                </div>
                <div class="item-operations" style="position: relative;width: 100%"> Qt.
                    <input class="item-amount" name="quantità" type="number" id="quantità">
                    <input class="item-amount-update" name="Aggiorna" type="submit" value="Aggiorna">
                    <input class="item-remove" name="Rimuovi" type="submit" value="Rimuovi">
                    <div class="item-price">
                        <p class="inline"> Costo: 50000000 euro</p>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Contenitore del totale del carrello -->
        <div class="total-cart-cost">
             <p class="inline" >Totale:</p>
             <input class="cart-buy" name="Compra" type="submit" value="Compra">
        </div>

    </div>

</body>

</html>