<link rel="stylesheet" href="/stylesheets/prodotticategoria.css">
<h1 style="padding-left:10px;"> NOME CATEGORIA </h1>
<div class="categoria-container center-contents">
    <!-- DIV CHE CONTIENE UN PRODOTTO -->
    <%for(var i = 0; i< prodotti.length; i++){ %>
        <div class="item-c">
            <div class="item-c-image"> <img class="item-c-inner-image" src="/images/prodotti/<%- prodotti[i].codice %>_1" onerror="$(this).attr('src','/images/prodotti/nondisp.png');"> </div>
            <div class="item-c-name">
                <%- prodotti[i].nome %>
            </div>
            <div class="item-c-operations">
                <ul class="item-price-add-cart">
                    <li> <span>Costo : <%- prodotti[i].prezzo %> €</span> </li>
                    <li> <button class="add-in-cart" type="submit"> <span class="flaticon-shop icon-color"></span> </button>
                        <p class="item-availability">
                            <%= (prodotti[i].quantita > 0) ? '' : 'NON' %> disponibile </p>
                    </li>
                </ul>
            </div>
        </div>
        <%}%>
            <!-- FINE DIV CHE CONTIENE UN PRODOTTO -->
</div>
<script type="text/javascript">
    $(document).ready(function() {

    });
</script>