<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/prodotticategoria.css">
</head>

<body>
    <h1 style="padding-left:10px;"> NOME CATEGORIA </h1>
    <div class="categoria-container center-contents">
        <!-- DIV CHE CONTIENE UN PRODOTTO -->
        <div class="item-c">
            <div class="item-c-image"> <img class="item-c-inner-image" src="/images/immagini_prodotto1/1.jpg" alt=""> </div>
            <div class="item-c-name"> Nome prodotto e forse piccola descrizione </div>
            <div class="item-c-operations">
                <ul class="item-price-add-cart">
                    <li> <span>Costo : 500000000000000000 euro</span> </li>
                    <li> <button class="add-in-cart" type="submit"> <span class="flaticon-shop"></span> </button>
                        <p class="item-availability"> Disponibile o no </p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- FINE DIV CHE CONTIENE UN PRODOTTO -->
    </div>

</body>

</html>