<head>
    <link rel="stylesheet" href="/stylesheets/datiutente.css">
</head>
<div class="container-form-info-user">
    <form class="singin-form" method="post" action="#esegui le operazioni di login.non lo so">

        <p>
            <label for="Nome" required>Nome:</label>
            <input class="user-info" name="nome" type="text" id="nome">
        </p>

        <p>
            <label for="Cognome" required>Cognome:</label>
            <input class="user-info" name="cognome" type="text" id="cognome">
        </p>

        <p>
            <label for="email" required>Email:</label>
            <input class="user-info" name="email" type="email" id="email">
        </p>

        <p>
            <label for="address" required>Indirizzo:</label>
            <input class="user-info" name="indirizzo" type="text" id="indirizzo">
        </p>

        <p>

            <label for="province" required>Stato:
                                <input class="user-info" type="text" name="stati" list="states" />
                                    <datalist id="states">
                                    <option>Italia</option>
                                    <option>Germania</option>
                                    <option>Francia</option>
                                    </datalist>
                                    </label>
        </p>

        <p>

            <label for="province" required>Provincia:
                            <input class="user-info" type="text" name="province" list="provinces" />
                                <datalist id="provinces">
                                <option value="AG">Agrigento</option>
                                <option value="AL">Alessandria</option>
                                <option value="AN">Ancona</option>
                                </datalist>
                                </label>
        </p>

        <p>
            <label for="telefono" required>Tel.</label>
            <input class="user-info" type="tel" id="telefono" name="telefono">
        </p>

        <p>
            <label for="password">Password:</label>
            <input class="user-info" name="password" type="password" id="password">
        </p>

        <p>
            <input class="changes-button" name="Modifica" type="submit" value="Modifica">
        </p>
    </form>

</div>