<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style_pagina_prodotti.css">
</head>

<body>
    <h1> NOME CATEGORIA </h1>
    <div style="display: table; margin: 0 auto;">
        <div style="min-width: 250px; float:left; margin: 30px 10px 30px 10px; background-color: pink;">

            <a href="">
                <div style="float:left;">
                    <img src="/images/immagini_prodotti/pc.jpg" style="float:left;
                    max-height: 250px;
                    max-width: 250px; ">
                    <ul style="float:left">
                        <li> PC SUPER PORTATILE!!!</li>
                        <hr>
                        <li class="hide-small"> QUESTO é UN PC SUPER ULTRA PORTATILE! <br> LO PUOI PORTARE CON TE PERCHè è PORTATILE!!
                        </li>
                    </ul>
                </div>
            </a>
            <a id="acquista" href="">
                <div> Acquista! </div>
            </a>
            <div>
                <ul id="prezzo">
                    <li> PREZZO</li>
                    <li> 20000 euri</li>
                </ul>
            </div>
        </div>


    </div>

</body>

</html>