<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/prodotticategoria.css">
</head>

<body>
    <h1> NOME CATEGORIA </h1>
    <div class="categoria-container center-contents">
        <div class="item-c"> </div>
        <div class="item-c"> </div>
        <div class="item-c"> </div>
        <div class="item-c"> </div>
        <div class="item-c"> </div>
        <div class="item-c"> </div>
        
    </div>

</body>

</html>