<link rel="stylesheet" href="/stylesheets/profiloutente.css">
<div class="user-contents">
    <div class="tab">
        <button onclick="window.location = window.location.origin + '/profilo';">Profilo</button>
        <button onclick="window.location = window.location.origin + '/profilo/storicoordini';">Storico ordini</button>
    </div>
    <div id="container_user_contents" class="tabcontent">
        <%- include(contenuto_sub) %>
    </div>
</div>