<!DOCTYPE html>
<html lang="it">
<meta charset="UTF-8">

<head>
    <link rel="stylesheet" href="/stylesheets/singin.css">
</head>



   
        <div class="singin-container center-contents">
            <div class="singin-tab">
                    <h2>Non sei registrato?</h2>
                    <h5>Creando un nuovo account su E-Caccia SSI SORDI sarai in grado di acquistare velocemente, essere sempre aggiornato sullo stato dei tuoi ordini e ricevere offerte e promozioni.</h5>
            </div>
        
            <form class="singin-form" method="post" action="#esegui le operazioni di login.non lo so">

                <p>
                    <label for="Nome" required>Nome:</label>
                    <input class="singin-input" name="nome" type="text" id="nome">
                </p>

                <p>
                    <label for="Cognome" required>Cognome:</label>
                    <input class="singin-input" name="cognome" type="text" id="cognome">
                </p>

                <p>
                    <label for="email" required>Email:</label>
                    <input class="singin-input" name="email" type="email" id="email">
                </p>

                <p>
                    <label for="address" required>Indirizzo:</label>
                    <input class="singin-input" name="indirizzo" type="text" id="indirizzo">
                </p>

                <p>

                    <label for="province" required>Stato:
                        <input class="singin-input" type="text" name="stati" list="states" />
                            <datalist id="states">
                            <option>Italia</option>
                            <option>Germania</option>
                            <option>Francia</option>
                            </datalist>
                            </label>
                </p>

                <p>

                    <label for="province" required>Provincia:
                    <input class="singin-input" type="text" name="province" list="provinces" />
                        <datalist id="provinces">
                        <option value="AG">Agrigento</option>
                        <option value="AL">Alessandria</option>
                        <option value="AN">Ancona</option>
                        </datalist>
                        </label>
                </p>

                <p>
                    <label for="telefono" required>Tel.</label>
                    <input class="singin-input" type="tel" id="telefono" name="telefono">
                </p>

                <p>
                    <label for="password">Password:</label>
                    <input class="singin-input" name="password" type="password" id="password">
                </p>

                <p>
                    <input class="singin-button" name="login" type="submit" value="login">
                </p>
            </form>
        </div>
   


</html>