.conteiner-orders{
    width: 1000px;
}
@media (max-width:1220px) {
    
    .conteiner-orders{
        width: 950px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
  }

@media (max-width:780px) {
    
    .conteiner-orders{
        width: 500px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
  }
.order {
    width: 100%;
    height: 40px;
    border: 1px solid black;
}
.order-details-button{
    background-color: #ccc;
    height: 100%;
    width: auto;
    text-align: right;
    float: right;
    padding: 5px;
}
.button-details-download{
    background-color: #ccc;
    border: none;
    padding: 2px;
}
.button-details-download:hover{
    color: #f63;

}
.order-date{
    background-color: #ccc;
    height: 100%;
    width: 250px;
    text-align: left;
    float: left;
    padding: 5px;
}
.total-order-price{
    background-color: #ddd;
    width:100%;
    height: 100%;
    text-align: center;
    padding:5px;
}
.list-order{
    list-style-type: none;
    padding: 0;
    margin: 0;
}