.container-menu {
    display: table;
    margin: 0 auto;
}

.menu-management {
    text-align: center;
}

.button-menu:hover,
.button-menu-save:hover {
    background-color: #f63;
}

.button-menu {
    height: 30px;
    width: 70px;
}

.button-menu-save {
    height: 30px;
    width: 150px;
}

.box-text-menu {
    height: 30px;
    width: 200px;
}

.list-element {
    list-style-type: none;
    padding: 10px;
}

.element-list {
    padding: 5px;
}

.menu-name {
    display: block;
    overflow: hidden;
}

.right {
    float: right;
}

.box-text-name {
    width: 100%;
    box-sizing: border-box;
}