<div style="display:table; margin: 0 auto; width: 80%">
        <div style="background-color: #f63; padding: 20px; margin-bottom: 10px;">
        <p style="text-align: justify;">
        <h1 style="text-align: center">HELP</h1>
        QUESTA è LA PAGINA DI AMMINISTRAZIONE.
        DA QUI PUOI GESTIRE I MENU,CATEGORIE E PRODOTTI.
        IN ALTO TROVI GLI APPOSITI PULSANTI PER APRIRE LE FINESTRE PER POTER COMINCIARE A LAVORARE!!!
        QUI DI SEGUITO TROVI LA SPIEGAZIONE PER OGNI GESTIONE DISPONIBILE. </p> </div>
        
        
        <div style="margin-bottom: 10px;">
        <span style="display:table; margin: 0 auto; background-color: #f63; padding: 10px;">GESTIONE MENU</span>
        <ul>
        <li>Nella finestra gestione menu puoi aggiungere un menu ed eventualmente, se c'è la necessità, modificare o eliminare uno già esistente.</li>
        <li> Per aggiungere un menu basta digitare il nome nella apposita casella e poi premere il pulsante add e attendere l'aggiornamento della
        pagina per vederne gli effetti.</li>
        <li> Per modificare il nome di un menu basta fare la modifica e poi cliccare su salva modifiche.</li>
        <li> Per eliminare un menu basta cliccare sul pulsante X che si trova di fianco alla casella corrispondente del menu.</li>
         </ul>
        <p style="background-color:#ccc">ATTENZIONE: L'ELIMINAZIONE DI UN MENU COMPORTA LA PERDITA DI PRODOTTI LEGATI AD ESSO.</p></div>
        
        
        <div style="margin-bottom: 10px;">
        <span style="display:table; margin: 0 auto; background-color: #f63; padding: 10px;">GESTIONE CATEGORIE</span>
        <ul>
        <li>Nella finestra gestione categorie puoi aggiungere delle categorie ed eventualmente legarle ad un menu.</li>
        <li>Se c'è la necessità di creare una categoria non ancora pronta per essere rilasciata sul sito basta non scegliere un menu e lasciare quindi l'apposita casella vuota.</li>
        <li>Dopo aver fatto delle modifiche, per renderle effettive bisogna cliccare sul pulsante "Salva modifiche".</li>
        <li>Per eliminare una categoria basta cliccare sul pulsante X che si trova di fianco alla casella corrispondente della categoria.</li>
        </ul>
        <p style="background-color:#ccc">ATTENZIONE: L'ELIMINAZIONE DI UNA CATEGORIA COMPORTA LA PERDITA DEL LEGAME CHE I PRODOTTI HANNO RISPETTO ALLA CATEGORIA ELIMINATA.</p></div>
        
        <div style="margin-bottom: 10px;">
        <span style="display:table; margin: 0 auto; background-color: #f63; padding: 10px;">GESTIONE PRODOTTO</span>
        <p> Spiegazione </p>
        </div>
        
            </div>
            