<script type="text/javascript" src="/javascripts/backend/menu.js"></script>
<link rel="stylesheet" href="\stylesheets\backend\menu.css">

<div class="container-menu">
    <table>
        <tr>
            <td class="menu-management">
                <h2>GESTIONE MENU</h2>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-element">
                    <li class="element-list">
                        <span class="right">
                        <button class="button-menu" autocomplete="off" id="add" type="button" disabled="disabled">ADD</button>
                    </span>
                        <span class="menu-name">
                        <input class="box-text-menu" autocomplete="off" type="text" id="newMenu" class="box-text-name"/>
                    </span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul id="elenco_menu" class="list-element">
                    <% for(var i = 0; i< menu.length; i++){%>
                        <li class="element-list" data-id="<%=menu[i].codice%>">
                            <span class="right">
                            <button class="deleteMenu button-menu" type="button">X</button>
                        </span>
                            <span class="menu-name">
                            <input autocomplete="off" type="text" class="box-text-name menuName box-text-menu" value="<%=menu[i].nome%>" data-orgvalue="<%=menu[i].nome%>"/>
                        </span>
                        </li>
                        <%}%>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" disabled="disabled" id="save" class="right button-menu-save">Salva modifiche</button>
            </td>
        </tr>
    </table>
</div>