<script type="text/javascript" src="/javascripts/backend/menu.js"></script>
<table>
    <tr>
        <td class="gestione-menu">GESTIONE MENU</td>
    </tr>
    <tr>
        <td>
            <ul class="lista-elementi">
                <li class="elemento">
                    <span class="" style="float:right;">
                        <input id="add" type="button" value="ADD" disabled="disabled" />
                    </span>
                    <span style="display:block; overflow:hidden;">
                        <input type="text" id="newMenu" style="width:100%; box-sizing:border-box;" />
                    </span>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <ul id="elenco_menu" style="list-style: none; padding: 10px;">
                <% for(var i = 0; i< menu.length; i++){%>
                    <li style="padding: 10px;" data-id="<%=menu[i].codice%>">
                        <span style="float:right;">
                            <input class="deleteMenu" type="button" value="X" />
                        </span>
                        <span style="display:block; overflow:hidden;">
                            <input type="text" style="width:100%; box-sizing:border-box;" class="menuName" value="<%=menu[i].nome%>" data-orgvalue="<%=menu[i].nome%>"/>
                        </span>
                    </li>
                    <%}%>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" disabled="disabled" value="salva modifiche" id="save" style="float: right;" />
        </td>
    </tr>
</table>