<link rel="stylesheet" href="/stylesheets/backend/prodotti.css" />
<script type="text/javascript" src="/javascripts/backend/prodotti.js"></script>

<%
var menuSelect = '';
for (var i = 0; i < categorie.men.length; i++) {
    menuSelect += '<option value="' + categorie.men[i].codice + '">' + categorie.men[i].nome + '</option>';
}
var categoriaSelect = '';
for (var i = 0; i < categorie.cat.length; i++) {
    categoriaSelect += '<option value="' + categorie.cat[i].codice + '">' + categorie.cat[i].nome + '</option>';
}
%>
    <div class="container_prodotti">
        <h2 style="text-align: center;"> GESTIONE PRODOTTI</h2>
        <table style="width:900px;">
            <tr>
            </tr>
            <tr>
                <td>
                    <ul class="list">
                        <li><button id="addProduct">Aggiungi nuovo prodotto</button></li>
                        <li><i>Oppure cerca</i></li>
                        <li>
                            Seleziona Menu:
                            <select id="search_menu">
                            <option value="-1">*</option>
                            <%- menuSelect %>
                        </select>

                        </li>
                        <li>
                            Seleziona Categoria:
                            <select id="search_categoria">
                                <option value="-1">*</option>
                                <%- categoriaSelect %>
                            </select>

                        </li>
                        <li>
                            Inserisci Nome Prodotto:
                            <input id="search_prodotto" type="text" />
                        </li>
                        <li>
                            <button id="search" style="margin-top:5px;">Cerca</button>
                        </li>
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <ul id="search_result" style="width:900px;">
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        var menuEcategorie = <%- JSON.stringify(categorie) %>;
        $(document).ready(function() {
            socket.off('backend_categorie');
            socket.on('backend_categorie', function(data) {
                if (data.message == 'refresh') {
                    location.reload();
                }
            });
            socket.off('backend_categorie');
            socket.on('backend_categorie', function(data) {
                if (data.message == 'refresh') {
                    alert('attenzione!!\nc\'è stata una modifica nelle categorie, controllare prima di salvare eventuali modifiche ai prodotti.');
                }
            });
            socket.off('backend_menu');
            socket.on('backend_menu', function(data) {
                if (data.message == 'refresh') {
                    alert('attenzione!!\nc\'è stata una modifica nel menu, controllare prima di salvare eventuali modifiche alle categorie.');
                }
            });

            $('#search_menu').on('change', function() {
                $('#search_categoria').html('');
                $('#search_categoria').append('<option value="-1">*</option>');
                for (var i = 0; i < menuEcategorie.cat.length; i++) {
                    if (menuEcategorie.cat[i].codice_menu == $(this).val() || $(this).val() == -1)
                        $('#search_categoria').append('<option value="' + menuEcategorie.cat[i].codice + '">' + menuEcategorie.cat[i].nome + '</option>');
                }
            });
            $('#search').click(function() {
                var searchMe = {
                    codiceMenu: $('#search_menu').val(),
                    codiceCategoria: $('#search_categoria').val(),
                    nomeProdotto: $('#search_prodotto').val()
                }
                ajaxCall("POST", window.location.origin + '/amministrazione/prodotti/search', 5000, searchMe, function(data) {
                    console.log('fatto');
                    stampaListaProdotti(data);
                });
            });
            $('#addProduct').on('click', function() {
                $('#overlay').fadeIn();
                window.location = window.location.origin + '/amministrazione/prodotto';
            });
        });

        function stampaListaProdotti(lista) {
            $('#search_result').html('');
            for (var i = 0; i < lista.length; i++) {
                $('#search_result').append('<li  data-codiceprodotto="' + lista[i].codice + '"><span style="width:100%;display:block; word-wrap:break-word;">' + lista[i].nome + '</span><button class="modifica_prodotto">Modifica</button><button class="elimina_prodotto">Elimina</button></li>');
            }
            $('.modifica_prodotto').off();
            $('.elimina_prodotto').off();
            $('.modifica_prodotto').on('click', function() {
                $('#overlay').fadeIn();
                window.location = window.location.origin + '/amministrazione/prodotto?c=' + $(this).closest('li').attr('data-codiceprodotto');
            });
            $('.elimina_prodotto').on('click', function() {
                ajaxCall("POST", window.location.origin + '/amministrazione/prodotti/delete', 5000, {
                    codice: $(this).closest('li').attr('data-codiceprodotto')
                }, function(data) {
                    console.log('fatto');
                    $('#search').click();
                });
            });
            $('#overlay').fadeOut();
        }
    </script>