<table>
    <tr>
        <td>NOME
            <br />
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>DESCRIZIONE
            <br />
            <input type="text" /></td>
    </tr>
    <tr>
        <td>QUANTITA
            <br />
            <input type="text" /></td>
    </tr>
    <tr>
        <td>PREZZO
            <br />
            <input type="text" /></td>
    </tr>
    <tr>
        <td>CATEGORIA
            <br />
            <input type="text" /></td>
    </tr>
    <tr>
        SPECIFICHE<br />
        <button onclick="aggiungiRighaSpec()">aggiungi</button><br />
        <table id="specifiche_prodotto">
        </table>
    </tr>
</table>
<script type="text/javascript"></script>