<html lang="en">

<head>
    <!-- GENERAL IMPORTS -->
    <script type="text/javascript" src="/javascripts/socketio/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/ajaxCall.js"></script>
    <link rel="stylesheet" href="/stylesheets/overlay.css" />
    <!-- GENERAL IMPORTS -->
    <link rel="stylesheet" href="/stylesheets/backend/template.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <% title %>
    </title>

</head>

<body>
    <table class="tabella-template">
        <tr>
            <td class="barra-menu">
                <table style="width: 100%;">
                    <tr>
                        <td style="width:100%;" id="menu_bar">
                            <% if (menuBackend !== null) { %>
                                <% for(var i=0; i<menuBackend.length; i++) { %>
                                    <button class="elementi-barra" onclick="$('#overlay').fadeIn();<%= menuBackend[i].naviga%>"><%=menuBackend[i].nome%></button>
                                    <% } %>
                                        <% } %>
                        </td>
                        <td class="div-logout">
                            <button id="logout" class="logout-button" onclick="$('#overlay').fadeIn(); window.location = window.location.origin + '/amministrazione/logout';" style="<%if(menuBackend === null){%>display: none;<% }%>">logout</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td id="contenuti" style="width:100%; ">
                <% if(contenuto != '') { %>
                    <%- include(contenuto) %>
                        <% } %>
            </td>
        </tr>
    </table>
    <!-- GENERAL IMPORTS -->
    <% include ../overlay %>
        <!-- GENERAL IMPORTS -->
</body>

</html>