<table>
    <tr>
        <td style="text-align: center;">GESTIONE CATEGORIE</td>
    </tr>
    <tr>
        <td>
            <ul style="list-style: none; padding: 10px;">
                <li style="padding: 10px;"><span style="float:right;"><input id="add" type="button" value="ADD" disabled="disabled" /></span><span style="display:block; overflow:hidden;"><input type="text" id="newMenu" style="width:100%; box-sizing:border-box;" /></span></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <ul id="elenco_categorie" style="list-style: none; padding: 10px;">
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" disabled="disabled" value="salva modifiche" id="save" style="float: right;" />
        </td>
    </tr>
</table>
<script type="text/javascript">
    var iniData = <%- JSON.stringify(outData) %>;
    $(document).ready(function () {
        getReady();
        socket.off('g_categorie');
        socket.on('g_categorie', function (data) { if (data.message == 'refresh') { naviga('g_categorie'); } });
        socket.off('g_menu');
        socket.on('g_menu', function (data) { if (data.message == 'refresh') { alert('attenzione!!\nc\'è stata una modifica nel menu, controllare prima di salvare eventuali modifiche alle categorie.') } });
    });

    function getReady() {
        var menuSelect = '';
        for (var i = 0; i < iniData.men.length; i++) {
            menuSelect += '<option value="' + iniData.men[i].codice + '">' + iniData.men[i].nome + '</option>';
        }
        for (var i = 0; i < iniData.cat.length; i++) {
            $('#elenco_categorie').append('<li>' +
                '<input type="text" data-catcod="' +
                iniData.cat[i].codice + '" data_mencod="' +
                iniData.cat[i].codice_menu + '" value="' +
                iniData.cat[i].nome + '" />' +
                '<select><option value="-1"></option>' +
                menuSelect +
                '</select>' +
                '</li>');
            $('#elenco_categorie select').last().val(iniData.cat[i].codice_menu);
        }
    }

</script>